{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}  Form  | {{ block.super }} {% endblock %}

{% block bg-image-holder %}
<div class="bg_image_holder"><img alt="" src='{% static "img/breadcrumb1.jpg" %}'></div>
{% endblock %}

{% block page-title %}
<h1 class="page-title">Form</h1>
{% endblock %}

{% block breadcrumb_item %}
<li aria-current="page" class="breadcrumb-item active">Form</li>
{% endblock %}

{% block content %}
<div class="container">&nbsp;

  <div class="row">
    <div class="col-lg-5 offset-lg-1 col-sm-10 offset-sm-1">
      <div class="atbd_content_module">
        <div class="atbd_content_module__tittle_area">
          <div class="atbd_area_title">
            <h4><span class="la la-calendar-check-o"></span> Preview </h4>

          </div>
        </div>
        <div class='atbdb_content_module_contents'>
          <h3 id='preview-name'></h3>
          <p id='preview-description'></p>
        </div>
      </div>
    </div>

    <div class="col-lg-5 offset-lg-0 col-sm-10 offset-sm-1">
      <div class="atbd_content_module">
        <div class="atbd_content_module__tittle_area">
          <div class="atbd_area_title">
            <h4><span class="la la-calendar-check-o"></span> Form </h4>
          </div>
        </div>
        <div class="atbdb_content_module_contents">

          <form action="." class="form-ad" enctype="multipart/form-data" method="POST">
            <div class="form-group is-empty">
              {% csrf_token %}
              {% crispy form %}
            </div>
          </form>

        </div><!-- ends: .atbdb_content_module_contents -->
      </div><!-- ends: .atbd_content_module -->
    </div><!-- ends: .col-lg-10 -->
  </div>
</div>

{% endblock content %}
